ytd-app {
    --yt-spec-brand-icon-active: #e1002d;
    --yt-spec-additive-background: rgba(255, 0, 0, 0.1);
}

.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--filled {
    color: #fff;
    rtl: ignore;
    background: #e1373a;
}

ytd-guide-section-renderer.style-scope:nth-child(1) > div:nth-child(2) > ytd-guide-entry-renderer:nth-child(2) {
    display: none;
}

ytd-rich-section-renderer.style-scope:nth-child(11) > div:nth-child(1) > ytd-rich-shelf-renderer:nth-child(1) {
    display: none;
}
ytd-rich-section-renderer.style-scope:nth-child(33) {
    display: none;
}

ytd-reel-shelf-renderer.style-scope {
    display: none;
}

ytd-guide-section-renderer.style-scope:nth-child(2) > h3:nth-child(1) {
    display: none;
}
ytd-rich-section-renderer.style-scope:nth-child(17) {
    display: none;
}

button.yt-spec-button-shape-next--icon-leading {
    border-radius: 4px;
}
html {
    --rounding: 4px;
}
