ytd-app {
    --yt-spec-brand-icon-active: #e1002d;
    --yt-spec-additive-background: rgba(255, 0, 0, 0.1);
}

.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--filled {
    color: #fff;
    rtl: ignore;
    background: #e1002d;
}
