
ytd-app {
    --yt-spec-brand-icon-active: var(--byl-accent);
    --yt-spec-additive-background: rgba(255, 0, 0, 0.1);
    --yt-spec-icon-inactive: var(--byl-button-background);
    --yt-spec-badge-chip-background: var(--byl-button-background);
    --ytd-menu-renderer-button-color: #fff;
    --byl-accent: #e1373a;
    --byl-rounding: 4px;
    --byl-background: #171717;
    --byl-button-background: #2f2f2f;
}
/* Subscribe Button ! */
.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--filled {
    color: #fff;
    rtl: ignore;
    background: var(--byl-accent);
}

ytd-guide-section-renderer.style-scope:nth-child(1) > div:nth-child(2) > ytd-guide-entry-renderer:nth-child(2) {
    display: none;
}

ytd-rich-section-renderer.style-scope:nth-child(11) > div:nth-child(1) > ytd-rich-shelf-renderer:nth-child(1) {
    display: none;
}
ytd-rich-section-renderer.style-scope:nth-child(33) {
    display: none;
}

ytd-reel-shelf-renderer.style-scope {
    display: none;
}

ytd-guide-section-renderer.style-scope:nth-child(2) > h3:nth-child(1) {
    display: none;
}
ytd-rich-section-renderer.style-scope:nth-child(17) {
    display: none;
}

button.yt-spec-button-shape-next--icon-leading {
    border-radius: 4px;
}
html {
    --rounding: var(--byl-rounding);
    background-color: #2f2f2f;

}

.yt-spec-touch-feedback-shape {
    border-radius: var(--byl-rounding);
}
ytd-menu-renderer.ytd-watch-metadata > yt-button-shape:nth-child(4) > button:nth-child(1) {
    border-radius: var(--byl-rounding);
}

ytd-menu-renderer.ytd-watch-metadata > div:nth-child(1) > segmented-like-dislike-button-view-model:nth-child(1) > yt-smartimation:nth-child(1) > div:nth-child(1) > div:nth-child(1) > like-button-view-model:nth-child(1) > toggle-button-view-model:nth-child(1) > button-view-model:nth-child(1) > button:nth-child(1) {
    border-radius: var(--byl-rounding) 0 0 var(--byl-rounding);
}
ytd-menu-renderer.ytd-watch-metadata > div:nth-child(1) > segmented-like-dislike-button-view-model:nth-child(1) > yt-smartimation:nth-child(1) > div:nth-child(1) > div:nth-child(1) > dislike-button-view-model:nth-child(2) > toggle-button-view-model:nth-child(1) > button-view-model:nth-child(1) > button:nth-child(1) {
    border-radius: 0 var(--byl-rounding) var(--byl-rounding) 0;
}
ytd-button-renderer.undefined > yt-button-shape:nth-child(1) > button:nth-child(1) {
    border-radius: var(--byl-rounding);
}
.yt-spec-button-shape-next--icon-leading-trailing {
    border-radius: var(--byl-rounding);
}
#top > div:nth-child(2) {
    border-radius: var(--byl-rounding);
}
#subscribe-button-shape > button:marginnth-child(1) {
    border-radius: var(--byl-rounding);
}
ytd-video-owner-renderer.style-scope {
    background-color:#171717;
    padding: 6px;
    border-radius: var(--byl-rounding) 0 0 var(--byl-rounding);
    margin-top: 2px;
    margin-left: 2px;
    margin-bottom: 2px;
}
ytd-subscribe-button-renderer.style-scope {
    background-color:#171717;
    padding-left: 4px;
    padding-top: 9.5px; /* this is terrible */
    padding-bottom: 9.5px;
    padding-right: 6px;
    border-radius: 0 var(--byl-rounding) var(--byl-rounding) 0;
}
div.animated-action__lottie:nth-child(1) {
    border-radius: var(--byl-rounding);
}
#bottom-row > div:nth-child(1) {
    border-radius: var(--byl-rounding);
}
/* game */
ytd-rich-metadata-renderer.style-scope:nth-child(1) {
    border-radius: var(--byl-rounding);
    background-color: rgb(23, 23, 23);
}
/* catagory */
ytd-rich-metadata-renderer.style-scope:nth-child(2) {
    border-radius: var(--byl-rounding);
    background-color: #171717;
}

ytd-compact-video-renderer.style-scope:nth-child(2) > div:nth-child(1) > ytd-thumbnail:nth-child(1) {
    border-radius: var(--byl-rounding);
}
/* Video Suggestions while in player */
ytd-compact-video-renderer.style-scope {
    border-radius: var(--byl-rounding);
    background-color: #171717;

}
ytd-watch-metadata[flex-menu-enabled] #actions.ytd-watch-metadata {
/* that fuckass box around the like/share/more buttons */
    background-color: #171717;
    border-radius: var(--byl-rounding);
    padding: 4px;
    padding-left: -4px;
    padding-right: 4px;
    -moz-box-flex: 1;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    min-width: calc(25% - 6px);
}
#bottom-row > div:nth-child(1) {
    background-color: #171717;
}
#description-inline-expander > tp-yt-paper-button:nth-child(4) {
/* more button in description */
    background-color: #2f2f2f;
   /* margin: 3px */
    padding: 0 10px;
    border-radius: var(--byl-rounding);
}
yt-chip-cloud-chip-renderer {
/* tags beside video and probably more stuff */
    border-radius: var(--byl-rounding);

}
.yt-spec-button-shape-next--icon-only-default {
/* ngl i have no idea what this is */
    border-radius: var(--byl-rounding);
    background-color: #2f2f2f;
}
.ytSearchboxComponentSearchButton {
/* searchbox 1 */
    border-radius: 0 var(--byl-rounding) var(--byl-rounding) 0;
    background-color: #2f2f2f;
}
.ytSearchboxComponentInputBox {
/* searchbox 2 */
    border-radius: var(--byl-rounding) 0 0 var(--byl-rounding);

}
#voice-search-button.ytd-masthead {
/* microphone button that NOBODY uses */
    border-radius: var(--byl-rounding);
}
.badge-style-type-simple.ytd-badge-supported-renderer {
/* NEW icon beside videos in reccomended. */
    background-color: var(--byl-accent);
    color: var(--ytd-menu-renderer-button-color);
}
.ytVideoMetadataCarouselViewModelHost {
/* live chat replay panel */
    background-color: var(--byl-background);
    border-radius: var(--byl-rounding);
}
.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--tonal {
/* open panel button in the live chat replay thing */
    border-radius: var(--byl-rounding);
    background: var(--byl-button-background);
}
.yt-spec-button-shape-next--size-m {
/* show chat replay/live chat button*/
    border-radius: var(--byl-rounding);
    background-color: var(--byl-button-background);
}
.yt-spec-button-shape-next--size-m.yt-spec-button-shape-next--outline {
    border-style: unset;
}
yt-icon.ytd-badge-supported-renderer {
    color: #0070ff;

}
ytd-thumbnail[size="medium"] a.ytd-thumbnail, ytd-thumbnail[size="medium"]::before {
    border-radius: var(--byl-rounding);
}
.yt-spec-button-shape-next--size-xs {
    border-radius: var(--byl-rounding);
}
.yt-spec-avatar-shape__image {
    margin-right: -12px;
    border-radius: var(--byl-rounding);
}
ytd-thumbnail[size="large"] a.ytd-thumbnail, ytd-thumbnail[size="large"]::before {
    border-radius: var(--byl-rounding) var(--byl-rounding) 0 0;
}
#details.ytd-rich-grid-media {
    border-radius:  0 0 var(--byl-rounding) var(--byl-rounding);
    background-color: var(--byl-background);
    padding-bottom: 4px;
    min-height: 90px;
}
ytd-post-renderer[rounded-container] {
    border-radius: var(--byl-rounding);
    background-color: var(--byl-background);
}
.yt-spec-button-shape-next--size-s {
    border-radius: var(--byl-rounding);
}
#avatar.ytd-video-owner-renderer {
    border-radius: var(--byl-rounding);
}
#author-thumbnail.ytd-comment-view-model yt-img-shadow.ytd-comment-view-model {
    border-radius: var(--byl-rounding);
    margin: 5px;
}
yt-img-shadow.ytd-topbar-menu-button-renderer {
    border-radius: var(--byl-rounding);
}
ytd-multi-page-menu-renderer {
    background-color: var(--byl-background);
    border-radius: var(--byl-rounding);
}
#avatar.ytd-active-account-header-renderer {
    border-radius: var(--byl-rounding);
}
yt-icon.ytd-compact-link-renderer {
    color: var(--ytd-menu-renderer-color);
}
yt-icon.ytd-toggle-theme-compact-link-renderer {
    color: var(--ytd-menu-renderer-color);
}
#body.ytd-comment-view-model {
    background-color: var(--byl-background);
    border-radius: var(--byl-rounding);
}

.yt-spec-button-shape-next--size-m.yt-spec-button-shape-next--icon-leading.yt-spec-button-shape-next--align-by-text {
    background-color: var(--byl-background);
    margin-top: -3px;
}
#guide-button.ytd-masthead {
    border-radius: var(--byl-rounding);
}
#buttons.ytd-masthead > .ytd-masthead:not(:last-child) {
    border-radius: var(--byl-rounding);
}
ytd-menu-renderer.ytd-rich-grid-media {
    top: 50px;
    left: 4px;
    right: unset;
    background-color: var(--byl-button-background);
    border-radius: var(--byl-rounding);
}
yt-interaction.circular .fill.yt-interaction, yt-interaction.circular .stroke.yt-interaction {
    border-radius: var(--byl-rounding);
}
